.movie-comparison-page {
  display: flex;
  height:1500px;
  
}

.chart-container {
  width: 600px;
  height: 700px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.search-fields {
  margin-top: 20px;
}